{# <h1>Hello World</h1>
<p>We are learning {{ varToTwig }}</p>


    {% if 10 > 5 %}
        <p>PHP logics here!</p>
    {% endif %} #}

    {# Commento #}
    {# Commento
        multilinea
    - #}

{# Ereditarietà #}

{% extends 'layout/base.html.twig' %}
{% block title %}Symfony {{ parent() }}{% endblock %}

{% block main %}
    <main>
        <h1>Homepage</h1>
        <p>Contenuto esteso</p>
    </main>
{% endblock %}
