{% extends 'layout/base.html.twig' %}
{% block title %}REST API{% endblock %}

{% block main %}
    <main>
        <h1>REST API</h1>
        <a href="{{ path('app_books_get_books') }}">Go to Api Books</a><br>
        <a href="{{ path('app_books_index') }}">Go to Books</a>
    </main>
{% endblock %}
