{% extends 'layout/base.html.twig' %}
{% block title %}Edit Book{% endblock %}

{% block main %}
    <main>
        <h1>Edit Book</h1>
        <p>
            Title: <b>{{ book.title }}</b><br>
            Author: <b>{{ book.author }}</b>
        </p>
    </main>
{% endblock %}
