@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 4em;
}

img {
    max-width: 14em;
}
